<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
   		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
   		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
   		http://www.springframework.org/schema/cache
		http://www.springframework.org/schema/cache/spring-cache.xsd">

    <context:property-placeholder location= "classpath:config/config.properties"/>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.LazyConnectionDataSourceProxy">
		<property name="targetDataSource">
			<ref local="mainDataSource" />
		</property>
	</bean>

	<!-- BoneCP configuration -->
	<bean id="mainDataSource" class="com.jolbox.bonecp.BoneCPDataSource"
		destroy-method="close">
		<property name="driverClass" value="${jdbc.driver}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="username" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
		<property name="partitionCount" value="2" />
		<property name="maxConnectionsPerPartition" value="100" />
		<property name="minConnectionsPerPartition" value="10" />
		<property name="acquireIncrement" value="2" />
		<!--<property name="queryExecuteTimeLimitInMs" value="360000" />-->
		<property name="statementsCacheSize" value="50" />
		<!-- Mysql 8小时超时问题 -->
		<property name="connectionTestStatement" value="SELECT 1" />
		<property name="idleConnectionTestPeriodInSeconds" value="18000" />
		<property name="idleMaxAgeInMinutes" value="300" />
		<property name="maxConnectionAgeInSeconds" value="28700" />
		<property name="connectionTimeoutInMs" value="60000" />
		<property name="closeConnectionWatch" value="${dataSource.closeConnectionWatch}" />
		<property name="logStatementsEnabled" value="${dataSource.logStatementsEnabled}" />
	</bean>

	<!-- 事务 -->
	<context:annotation-config />
	<aop:aspectj-autoproxy proxy-target-class="true" />
	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<tx:advice id="txAdvice" transaction-manager="txManager">  
		<tx:attributes>
          <tx:method name="save*" propagation="REQUIRED" rollback-for="Exception"/>  
          <tx:method name="add*" propagation="REQUIRED" rollback-for="Exception"/>  
          <tx:method name="create*" propagation="REQUIRED" rollback-for="Exception"/>  
          <tx:method name="insert*" propagation="REQUIRED" rollback-for="Exception"/>  
          <tx:method name="update*" propagation="REQUIRED" rollback-for="Exception"/>  
          <tx:method name="modify*" propagation="REQUIRED" rollback-for="Exception"/>  
          <tx:method name="del*" propagation="REQUIRED" rollback-for="Exception"/>  
          <tx:method name="remove*" propagation="REQUIRED" rollback-for="Exception"/>  
          <tx:method name="do*" propagation="REQUIRED" rollback-for="Exception"/>  
          <tx:method name="get*" read-only="true" />
          <tx:method name="count*" read-only="true" />
          <tx:method name="find*" read-only="true" />
          <tx:method name="list*" read-only="true" />
          <tx:method name="*" read-only="true"/>
       </tx:attributes>
	</tx:advice>
	<aop:config>
	       <aop:pointcut id="txPointcut" expression="execution(* com.westernstory.api.service.*Service.*(..))" />
	       <aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut" />
	</aop:config>
	
	<tx:annotation-driven transaction-manager="txManager"
		proxy-target-class="true" />

	<!-- MyBatis sqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:config/mybatis-config.xml" />
  		<property name="typeAliasesPackage" value="com.westernstory.api.model"/>
	</bean>
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.westernstory.api.dao" />
	</bean>

    <context:component-scan base-package="com.westernstory.api.service" />

    <!-- EHCache -->
    <bean id="cacheManagerFactory" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation"  value="classpath:config/${ehcache.path}.xml"/>
    </bean>
    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager"  ref="cacheManagerFactory"/>
    </bean>
    <cache:annotation-driven cache-manager="cacheManager" />

</beans>