body {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.76);
    -webkit-font-smoothing: antialiased;
    font-family: "Hiragino Sans GB", "Open Sans", Arial, "Microsoft YaHei",
    "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

p {
    margin: 0 0 25px;
}

.title {
    font-size: 2em;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    text-align: center;
}

.tags {
    padding: 0;
    text-align: center;
}

.subinfo {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 31px;
    font-size: 1.25em;
}

.subinfo, .summary {
    margin-top: 25px;
}

.summary {
    padding: 0 72px;
    color: rgba(0, 0, 0, 0.46);
    line-height: 2em;
    font-style: italic;
    text-align: center;
    margin-top: 28px;
}

.article-content {
    padding: 0 140px;
    padding-bottom: 30px;
    line-height: 30px;
}

@media (max-width:768px)
{
    .title
    {
        font-size: 20px;
        font-weight: bold;
        padding: 0 8px;
    }

    .summary
    {
        padding: 0 8px;
    }
    .article-content
    {
        padding: 0 8px;
    }
    .article-content img
    {
        max-width: 100%;
    }

    .art-content img{
        width: auto;
        height: auto;
    }
}